.recipe-table-container {
    width: 70%;
    min-height: 90%;
    margin: auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.recipe-table-container .MuiButton-containedPrimary {
    background-color: #ffde4d !important;
}

.recipe-table-container .MuiButton-containedSecondary {
    background-color: #ffa641 !important;
}

.recipe-table-container .page-item.active .page-link {
    background-color: #DE643F !important;
    border-color: #DE643F !important;
    color: #fff !important;
}

.recipe-table-container .page-link {
    color: #DE643F !important;
}

.recipe-table-header {
    margin-bottom: 30px;
    font-weight: bold !important;
}

.recipe-table-button-container {
    float: right;
}

.recipe-table-button {
    margin: 0 3px !important;
    padding: 12px 7px !important;
}

.search-label {
    width: 35%;
    float: left;
}

.recipe-table-container th:focus,
.recipe-table-button:focus,
.MuiButtonBase-root:focus {
    outline: none;
}

.MuiAutocomplete-popper > .MuiPaper-root {
    min-width: 700px;
}

.rt-part-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.rt-container .MuiFormGroup-root {
    flex-direction: row !important;
    margin: 15px 0 !important;
}

.tr-paper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin: 10px 0;
    width: 80% !important;
}

#recipe-servings, #recipe-minutes {
    width: 200px;
}

.recipe-table-input .MuiFormControl-root {
    margin: 0 !important;
}

.add-recipe-modal .MuiPaper-root {
    width: 100%;
    height: 100%;
}

.add-recipe-modal .MuiDialogContentText-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-recipe-modal .MuiFormControl-root {
    width: 70%;
    margin: 5px !important;
}

.add-recipe-modal .MuiSnackbar-root {
    width: 100%;
}

.add-recipe-modal .MuiDialogContent-root {
    margin-top: 20px !important;
}

.add-recipe-container {
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
}

.rt-description {
    width: 600px !important;
}

.rt-buttons {
    margin-bottom: 20px;
    margin-right: 30px;
}

.rt-title {
    background-color: #3f51b5;
    color: #ffffff;
}

.ingredients-container {
    margin: 30px 0;
    padding: 20px;
}

.ingredients-input {
    width: 170px !important;
}

.ingredient {
    display: flex !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.ingredient .recipe-product, .ingredient .recipe-quantity, .ingredient .recipe-unit {
    width: 170px !important;
    margin: 0 !important;
    margin-right: 5px !important;
}

.ingredient .MuiAutocomplete-root {
    width: 170px !important;
    margin-right: 5px !important;
}