.description-site {
  width: 100%;
  height: 40%;
}

.description-site__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.description-site__content p {
  width: 70%;
  font-size: 14px;
  color: #6b6768;
}

.description-site__content img {
  height: 50%;
}