.RecipesCard {
  width: 100%;
  height: 100%;
  background-color: rgb(170, 165, 165);
  transition: all 0.6s;
  transform: translateY(0);
  cursor: default;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ced4da;
}

.RecipesCard:hover {
  transform: translateY(-6px);
  transition: all 0.6s;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.582);
}

.RecipesCard_descriptions {
  width: 100%;
  height: 24%;
  position: absolute;
  bottom:0;
  transition: all 0.5s;
  padding: 3% 4%;
  border-bottom: none;
  cursor: pointer;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #f5f5f5;
}
.RecipesCard_descriptions_rating {
  width: 90px;
  height: auto;
  margin-bottom: 1%;
  color: #f7cb15;
  font-size: 17px;
  float: left;
}

.RecipesCard_descriptions_reviews {
  width: 90px;
  border: 1px solid black;
  margin-left: 1%;
  border-radius: 3px;
  text-align: center;
  padding: 1%;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
  float: left;
  margin-top:-4px;
}

.RecipesCard_descriptions_titleTimeAndDifficult {
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 10px;
  text-align: left;
}
.RecipesCard_descriptions_titleTimeAndDifficult p {
  display: inline-block;
  margin-right: 3%;
  margin-bottom: 3%;
}
.RecipesCard_descriptions_titleTimeAndDifficult h2 {
  margin-bottom: 1%;
}

.RecipesCard_descriptions_favoriteButton {
  width: 25px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
  float: right;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.76);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: -5px;
}
.RecipesCard_descriptions_favoriteButton:active {
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.76);
  transition: all 0.2s;
}
.favoriteButton {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  transform: scale(1);
}
.favoriteButton:active {
  transform: scale(0.9);
  transition: all 0.2s;
}
.favoriteButton_fill {
  color: #dc143c;
}
.RecipesCard_descriptions_shortDescription {
  width: 100%;
  height: 60%;
  border: 1px solid black;
  background-color: #f2f2f2;
  padding: 4%;
  border-radius: 5px;
  font-size: 15px;
}

.TimeIcon {
  margin-bottom: -2%;
}

.Difficult {
  margin-bottom: -4%;
  color: crimson;
}

.RecipesCard:hover > .RecipesCard_descriptions {
  transition: all 0.6s;
  height: 40%;
}
