.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: #000;
}

.header-container ul {
  display: flex;
  margin: 0 25px;
}

.nav-button {
  display: flex;
  height: 18px;
  margin: 0 25px;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
}

.nav-button:hover {
  text-decoration: underline;
}

.nav-button li {
  margin-left: 10px;
}
