.products-table-container {
    width: 70%;
    min-height: 90%;
    margin: auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.products-table-header {
    margin-bottom: 30px;
    font-weight: bold !important;
}

.products-table-container .MuiButton-containedPrimary {
    background-color: #ffde4d !important;
}

.products-table-container .MuiButton-containedSecondary {
    background-color: #ffa641 !important;
}

.products-table-container .page-item.active .page-link {
    background-color: #DE643F !important;
    border-color: #DE643F !important;
    color: #fff !important;
}

.products-table-container .page-link {
    color: #DE643F !important;
}

.products-table-button-container {
    float: right;
}

.products-table-button {
    margin: 0 3px !important;
    padding: 12px 7px !important;
}

.search-label {
    width: 35%;
    float: left;
}

.products-table-container th:focus,
.products-table-button:focus,
.MuiButtonBase-root:focus {
    outline: none;
}

.product-table-input, .MuiAutocomplete-popper > .MuiPaper-root {
    width: 320px;
    margin: 15px 0;
}

.product-table-input .MuiFormControl-root {
    margin: 0 !important;
}

.MuiPaper-root {
    width: 25%;
    height: 50%;
}

.MuiDialogContentText-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MuiFormControl-root {
    width: 90%;
    margin: 5px !important;
}

.MuiSnackbar-root {
    width: 100%;
}